.contato {
  background-image: url("/bg-Contato.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.contato h1 {
  color: #edea54;
  font-size: 3rem;
  margin-bottom: 20px;
   text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.contato p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 25px 35px;
  width: 280px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.25);
}

.card h2 {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin: 5px 0;
}

.footerNote {
  margin-top: 40px;
  font-size: 1rem;
  opacity: 0.9;
}
