.empresa {
  background-image: url("/bg-Empresa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.empresa h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.empresa p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
  margin-bottom: 15px;
}
